<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="maavinfo">
      <ion-icon name="home-outline" ></ion-icon>
      <ion-label>MAAV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yellowcard" color="#f5df18">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Get Help</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="healthyrelationships">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Relationships</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
