<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>MAAV Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" color="#f5df18">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Yellow card</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Relationship Check</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
