<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center">Little Yellow Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-list>
    <ion-list-header>Emergency</ion-list-header>
    <ion-item href="tel:911">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Emergency 911</ion-label>
    </ion-item>
    <ion-item href="tel:781-979-4473">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Melrose Police</ion-label>
    </ion-item>
    <ion-item href="tel:781-662-2010">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>MAAV</ion-label>
    </ion-item>
    <ion-item href="https://www.maav.org/contact/">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>MAAV Website</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Help Lines</ion-list-header>
    <ion-item href="tel:866-331-9474">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Dating Abuse</ion-label>
    </ion-item>
    <ion-item href="tel:866-331-9474">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Dating Abuse (TTY)</ion-label>
    </ion-item>
  </ion-list>

  <!--
  
  <ion-label>Hotlines and HelpLines</ion-label>
  <ion-card>
    Teen Crisis Hotline
    <a href="tel:800-999-9999">1-800-999-9999</a>
  </ion-card>
  <ion-card>
    National Domestic VIolence Hotline
    <a href="tel:800-799-7233">1-800-799-7233</a>
  </ion-card>
  <ion-card>
    AIDS- Center for Disease Control
    <a href="tel:800-232-4636">1-800-CDC-INFO</a>
  </ion-card>
  <ion-card>
    Alateen
    <a href="tel:413-782-3406">1-413-782-3406</a>
  </ion-card>
  <ion-card>
    Boston Area Rape Crisis
    <a href="tel:800-841-8371">1-800-841-8371</a>
  </ion-card>
  <ion-card>
    Child Abuse Hotline
    <a href="tel:800-792-5200">1-800-792-5200</a>
  </ion-card>
  <ion-card>
    Drug Abuse
    <a href="tel:877-553-8336">1-877-553-TEEN</a>
  </ion-card>
  <ion-card>
    Gay and Lesbian Youth Peer Listening
    <a href="tel:800-399-7337">1-800-399-PEER</a>
  </ion-card>
  <ion-card>
    Health Quarters
    <a href="tel:800-892-0234">1-800-892-0234</a>
  </ion-card>
  <ion-card>
    Suicide-SamariTeens
    <a href="tel:800-252-8336">1-800-252-TEEN</a>
  </ion-card>
  <ion-label>Help For Abusers</ion-label>
  <ion-card>
    Emerge
    <a href="tel:617-547-9879">617-547-9879</a>
  </ion-card>

  <ion-label>Websites</ion-label>
  <a href="https://www.loveisrespect.org/">www.loveisrespect.org</a>
  <br />
  <a href="http://www.chooserespect.org">www.chooserespect.org</a>
  <br />
  <a href="http://www.thesafespace.org/">www.thesafespace.org</a>
  -->
</ion-content>
