<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center">Little Yellow Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-list-header>Emergency</ion-list-header>
    <ion-item href="tel:911">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Emergency 911</ion-label>
    </ion-item>
    <ion-item href="tel:781-979-4473">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Melrose Police</ion-label>
    </ion-item>
    <ion-item href="tel:781-662-2010">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>MAAV</ion-label>
    </ion-item>
    <ion-item href="https://www.maav.org/contact/">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>MAAV Website</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Help Lines</ion-list-header>
    <ion-item href="tel:866-331-9474">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Dating Abuse</ion-label>
    </ion-item>
    <ion-item href="tel:866-331-9474">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Dating Abuse (TTY)</ion-label>
    </ion-item>
    <ion-item href="tel:800-999-9999">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Crisis Hotline</ion-label>
    </ion-item>
    <ion-item href="tel:800-799-7233">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>National Domestic Violence Hotline</ion-label>
    </ion-item>
    <ion-item href="tel:800-232-4636">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>AIDS- Center for Disease Control</ion-label>
    </ion-item>
    <ion-item href="tel:413-782-3406">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Alateen</ion-label>
    </ion-item>
    <ion-item href="tel:800-841-8371">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Boston Area Rape Crisis</ion-label>
    </ion-item>
    <ion-item href="tel:800-792-5200">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Child Abuse Hotline</ion-label>
    </ion-item>
    <ion-item href="tel:877-553-8336">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Drug Abuse</ion-label>
    </ion-item>
    <ion-item href="tel:800-399-7337">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Gay and Lesbian Youth Peer Listening</ion-label>
    </ion-item>
    <ion-item href="tel:800-892-0234">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Health Quarters</ion-label>
    </ion-item>
    <ion-item href="tel:800-252-8336">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Suicide-SamariTeens</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
  <ion-list-header>Help for Abusers</ion-list-header>
    <ion-item href="tel:617-547-9879">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Emerge</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
  <ion-list-header>Websites</ion-list-header>
  <ion-item href="https://www.loveisrespect.org/">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>Love is Respect</ion-label>
    </ion-item>
    <ion-item href="http://www.chooserespect.org">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>Choose Respect</ion-label>
    </ion-item>
    <ion-item href="http://www.thesafespace.org/">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>The Safe Space</ion-label>
    </ion-item>
  </ion-list>
  <!--
 
  
  
  
  
  
  
  
  
  
  
  
  

  <ion-label>Websites</ion-label>
  <a href="https://www.loveisrespect.org/">www.loveisrespect.org</a>
  <br />
  <a href="http://www.chooserespect.org">www.chooserespect.org</a>
  <br />
  <a href="http://www.thesafespace.org/">www.thesafespace.org</a>
  -->
</ion-content>
