<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MAAV Info
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>Founded: 1995</ion-item>
<ion-item>
  Formed in 1995, the Melrose Alliance Against Violence (MAAV) is a nonprofit
  community-based organization that focuses on outreach, education and community
  collaboration in order to raise awareness of the problems of bullying, teen
  dating and domestic violence. Working closely with the Melrose Police
  Department and Melrose Public Schools, our Board of Directors includes
  representatives from the city, police, schools, clergy, hospital, business
  community, Health Department, students, parents and community members at
  large.
</ion-item>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>
</ion-content>
