<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center">Maav Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <p>
    Formed in 1995, the Melrose Alliance Against Violence (MAAV) is a nonprofit
    community-based organization that focuses on outreach, education and
    community collaboration in order to raise awareness of the problems of
    bullying, teen dating and domestic violence. Working closely with the
    Melrose Police Department and Melrose Public Schools, our Board of Directors
    includes representatives from the city, police, schools, clergy, hospital,
    business community, Health Department, students, parents and community
    members at large.
  </p>
</ion-content>
