<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center">Relationship Check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Unhealthy</h1>
  <ul>
    <li>Is too serious about the relationship too quickly</li>
    <li>Checks your cell phone or email without permission</li>
    <li>
      Constantly monitors your whereabouts and checks in to see what you are
      doing and who you are with
    </li>
  </ul>
  <h1>Healthy</h1>
  <ul>
    <li>Is cool</li>
    <li>Respects your privacy</li>
    <li>Let's you do your thing</li>
  </ul>

  <!--
  <ion-list>
    <ion-item>
      is too serious about the relationship too quickly
    </ion-item>
    <ion-item>
      checks your cell phone or email without permission
    </ion-item>
    <ion-item>
      constantly monitors your whereabouts and checks in to see what you are
      doing and who you are with.
    </ion-item>
    <ion-item>
      is very controlling. This may include giving you orders, telling you what
      to wear, and trying to make all of the decisions for you.
    </ion-item>
    <ion-item>
      is possessive.
    </ion-item>
    <ion-item>
      constantly put you down.
    </ion-item>
    <ion-item>
      Is extremely jealous or insecure.
    </ion-item>
    <ion-item>
      has an explosive temper.
    </ion-item>
    <ion-item>
      isolates you from family or friends.
    </ion-item>
    <ion-item>
      makes false accusations.
    </ion-item>
    <ion-item>
      has mood swings.
    </ion-item>
    <ion-item>
      does not take responsiblity for their own actions
    </ion-item>
    <ion-item>
      physically hurts you in any way
    </ion-item>
    <ion-item>
      pressures or forces you to have sex
    </ion-item>
    <ion-item>
      Refuses to let you to end the relationship
    </ion-item>
  </ion-list>
  -->
</ion-content>
