<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center">Relationship Check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Unhealthy</h1>
  <ul>
    <li>Is too serious about the relationship too quickly</li>
    <li>Checks your cell phone or email without permission</li>
    <li>
      Constantly monitors your whereabouts and checks in to see what you are
      doing and who you are with
    </li>
    <li>is too serious about the relationship too quickly</li>
    <li>checks your cell phone or email without permission</li>
    <li>constantly monitors your whereabouts and checks in to see what you are
    doing and who you are with.</li>
    <li>is very controlling. This may include giving you orders, telling you what
    to wear, and trying to make all of the decisions for you.</li>
    <li>is possessive.</li>
    <li>constantly put you down.</li>
    <li>Is extremely jealous or insecure.</li>
    <li>has an explosive temper.</li>
    <li>isolates you from family or friends.</li>
    <li>makes false accusations.</li>
    <li>has mood swings.</li>
    <li>does not take responsiblity for their own actions</li>
    <li>physically hurts you in any way</li>
    <li>pressures or forces you to have sex</li>
    <li>Refuses to let you to end the relationship</li>
  </ul>
  <h1>Healthy, whether it's friendship or romantic</h1>
  <ul>
    <li>listens to each other</li>
    <li>compromise when required</li>
    <li>Treat each other with respect</li>
    <li>Dont't constantly criticize each other</li>
    <li>Are free to do thhings they like</li>
    <li>Respect wach other's boundaries</li>
    <li>Do not pressure each other to do things they don't want to do</li>
    <li>Feel good about being with each other</li>
    <li>Share thoughts and feelings without any fear</li>
    <li>Celebrate each other's joys, accomplishments, and sucesses</li>
    <li>Encourage each other to spend time with family and friends</li>
  </ul>
</ion-content>
