<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center" style="font-style: strong; font-size: 20px;"
      >Relationships</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="healthystyling">
  <ion-segment value="healthy" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="healthy">
      <ion-label>Healthy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="redflag">
      <ion-label>Unhealthy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="helpingfriends">
      <ion-label>Helping</ion-label>
    </ion-segment-button>
    <ion-segment-button value="breakingup">
      <ion-label>Breaking Up</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="subTab==='healthy'">
    <h1 style="font-size: 18px;">
      Signs of a Healthy Relationship
    </h1>
    <h3 style="text-align: center; font-size: 14px;">
      (friendship or romantic)
    </h3>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/listen.jpg" />
          <ion-card-header>
            <ion-card-title>Listen to each other at all times</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">1 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/handshake.jpg" />
          <ion-card-header>
            <ion-card-title>Compromise when required</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">2 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/respect.jpg" />
          <ion-card-header>
            <ion-card-title>Treat each other with respect</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">3 of 11</div>
      </ion-slide>

      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/everythingok.jpg" />
          <ion-card-header>
            <ion-card-title
              >Don't constantly criticize each other</ion-card-title
            >
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">4 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/self.jpg" />
          <ion-card-header>
            <ion-card-title>Are free to do things they like</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">5 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/boundaries.jpg" />
          <ion-card-header>
            <ion-card-title>Respect each other's boundaries</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">6 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <!-- <img src="assets/images/healthy/allin.jpg" /> -->
          <img src="assets/images/healthy/allin.jpg" />
          <ion-card-header>
            <ion-card-title
              >Don't pressure each other to do things
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">7 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/goodbewith.jpg" />
          <ion-card-header>
            <ion-card-title>Feel good about being with each other</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">8 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/share.jpg" />
          <ion-card-header>
            <ion-card-title
              >Share thoughts & feelings without fear
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">9 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/cheer.jpg" />
          <ion-card-header>
            <ion-card-title>Celebrate each other's successes </ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">10 of 11</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/healthy/familyjpg.jpg" />
          <ion-card-header>
            <ion-card-title
              >Encourage each other to spend time with family and
              friends</ion-card-title
            >
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">11 of 11</div>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="subTab==='redflag'">
    <!-- <ion-list class="redflagcss"> -->
    <h1 style="font-size: 18px;">Red Flag Warnings</h1>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/tooquicky.jpg" />
          <ion-card-header>
            <ion-card-title>Too serious about the relationship too quickly</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">1 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/stealphone.jpg" />
          <ion-card-header>
            <ion-card-title>Checks cell phone or email without permission</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">2 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/stalk.jpg" />
          <ion-card-header>
            <ion-card-title>Constantly monitors your whereabouts <p style="font-size: small;">and checks in to see what
              you are doing and who you are with</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">3 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/control.jpg" />
          <ion-card-header>
            <ion-card-title>Is very controlling <p style="font-size: small">This may include giving you orders,
              telling you what to wear, and trying to make all the decisions for
              you</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">4 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/possessive.jpg" />
          <ion-card-header>
            <ion-card-title>Is possessive</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">5 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/putsdown.jpg" />
          <ion-card-header>
            <ion-card-title>Constantly puts you down</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">6 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/jealous.jpg" />
          <ion-card-header>
            <ion-card-title>Is extremely jealous or insecure</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">7 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/temper.jpg" />
          <ion-card-header>
            <ion-card-title>Has an explosive temper</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">8 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/isolates.jpg" />
          <ion-card-header>
            <ion-card-title>Isolated you from family or friends</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">9 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/spreadlies.jpg" />
          <ion-card-header>
            <ion-card-title>Makes false accusations</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">10 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/moodswings.jpg" />
          <ion-card-header>
            <ion-card-title>Has mood swings.</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">11 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/notresponsible.jpg" />
          <ion-card-header>
            <ion-card-title>Does not take responsiblity for their own actions.</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">12 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/abusive.jpg" />
          <ion-card-header>
            <ion-card-title>Physically hurts you in any way</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">13 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/noyes.jpg" />
          <ion-card-header>
            <ion-card-title>Pressures or forces you to have sex
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">14 of 15</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/unhealthy/dontleave.jpg" />
          <ion-card-header>
            <ion-card-title>Refuses to let you end the relationship</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">15 of 15</div>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="subTab==='helpingfriends'">
    <!-- <ion-list> -->
    <h1 style="font-size: 18px;">How to help a Friend</h1>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/helping/friendtalk.jpg" />
          <ion-card-header>
            <ion-card-title>Start the Conversation-<p style="font-size: small;"> Without blaming, point out the
              behaviors you have noticed and ask them how they feel about
              it.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">1 of 5</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/helping/supportive.jpg" />
          <ion-card-header>
            <ion-card-title>Be Supportive- <p style="font-size: small;">Remember your friend may not recognize the
              abuse or want to end the relationship. Don't judge
              them.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">2 of 5</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/helping/confide.jpg" />
          <ion-card-header>
            <ion-card-title>Things to Say- <p style="font-size: small;">If your friend does confide in you, you can say
              things like: </p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">3 of 5</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/helping/friendsfindhelp.jpg" />
          <ion-card-header>
            <ion-card-title>Connect them to resources-<p style="font-size: small;">Web sites, text lines, and phone
              numbers are on the Getting Help page.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">4 of 5</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/helping/SOS.jpg" />
          <ion-card-header>
            <ion-card-title>When in Need Get Support-<p style="font-size: small;">If you feel that your friend is in
              immediate danger or that their life is at risk or has been
              threatened, get emergency support by calling 911. Talk to a
              teacher, counselor, parent, or any trusted adult if there is no
              immediate danger present.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">5 of 5</div>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="subTab==='breakingup'">
    <!-- <ion-list> -->
    <h1 style="font-size: 18px;">Tips for breaking up safely</h1>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/breakonphone.jpg" />
          <ion-card-header>
            <ion-card-title>If you don't feel safe,<p style="font-size: small;"> don't break up in person. It may seem
              cruel to break up over the phone or by text but it may be the
              safest way.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">1 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/breakupinpublic.jpg" />
          <ion-card-header>
            <ion-card-title>If you break up in person, <p style="font-size: small;">do it in a public place. Have a
              friend or a parent wait nearby. Have your cell phone with
              you.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">2 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/dontexplain.jpg" />
          <ion-card-header>
            <ion-card-title>Don't try to explain your reasons for ending the relationship
              more than once.<p style="font-size: small;">There is nothing you can say that will make your
              ex-partner happy.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">3 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/tellparent.jpg" />
          <ion-card-header>
            <ion-card-title>Let your friends and parents know you are ending your
              relationship, <p style="font-size: small;">especially if you think your ex-partner will come to
              your house or confront you when you're alone.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">4 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/knockondoor.jpg" />
          <ion-card-header>
            <ion-card-title>If your ex-partner does come to your house<p style="font-size: small"> when you're alone,
              don't go to the door.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">5 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/trustself.jpg" />
          <ion-card-header>
            <ion-card-title>Trust yourself. If you feel afraid, you probably have a good
              reason.</ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">6 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/loveisrespect.jpg.png" />
          <ion-card-header>
            <ion-card-title
              >7. Ask for help.<p style="font-size: small;"> Go to www.loveisrespect.org and chat with a
              trained peer advocate who is able to answer your questions. Talk
              to any trusted adult or call MAAV at 781-662-2010.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">7 of 8</div>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide-card">
          <img src="assets/images/breakingup/leanonfriends.jpg" />
          <ion-card-header>
            <ion-card-title>Just because an unhealthy or abusive relationship is over, that
              doesn't mean the risk or violence is too. <p style="font-size: small;">Talk with your friends,
              family, and trusted adult at school so they can support
              you.</p></ion-card-title>
          </ion-card-header>
        </ion-card>
        <div class="slide-footer">8 of 8</div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
