<ion-header translucent>
  <ion-toolbar>
    <ion-title text-align="center" style="font-style: strong;font-size: 20px;">Relationships</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="healthystyling">
  <ion-segment value="healthy" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="healthy">
      <ion-label>Healthy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="redflag">
      <ion-label>Red Flags</ion-label>
    </ion-segment-button>
    <ion-segment-button value="helpingfriends">
      <ion-label>Helping</ion-label>
    </ion-segment-button>
    <ion-segment-button value="breakingup">
      <ion-label>Breaking Up</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div *ngIf="subTab==='healthy'">
    <h1 style="font-size: 18px;">Healthy, whether it's friendship or romantic</h1>
    <ul class="healthycolor">
      <li>Listens to each other</li>
      <li>Compromise when required</li>
      <li>Treat each other with respect</li>
      <li>Dont't constantly criticize each other</li>
      <li>Are free to do thhings they like</li>
      <li>Respect wach other's boundaries</li>
      <li>Do not pressure each other to do things they don't want to do</li>
      <li>Feel good about being with each other</li>
      <li>Share thoughts and feelings without any fear</li>
      <li>Celebrate each other's joys, accomplishments, and sucesses</li>
      <li>Encourage each other to spend time with family and friends</li>
    </ul>
  </div>
  
  <div *ngIf="subTab==='redflag'">
    <ion-list class="redflagcss">
    <h1 style="font-size: 18px;">Red Flag Warnings</h1>
    <ul class="tab3color">
      <li>Too serious about the relationship too quickly</li>
      <li>Checks your cell phone or email without permission</li>
      <li>
        Constantly monitors your whereabouts and checks in to see what you are
        doing and who you are with
      </li>
      <li>Is too serious about the relationship too quickly</li>
      <li>Checks your cell phone or email without permission</li>
      <li>
        Constantly monitors your whereabouts and checks in to see what you are
        doing and who you are with.
      </li>
      <li>
        Is very controlling. This may include giving you orders, telling you
        what to wear, and trying to make all of the decisions for you.
      </li>
      <li>Is possessive.</li>
      <li>Constantly put you down.</li>
      <li>Is extremely jealous or insecure.</li>
      <li>Has an explosive temper.</li>
      <li>Isolates you from family or friends.</li>
      <li>Makes false accusations.</li>
      <li>Has mood swings.</li>
      <li>Does not take responsiblity for their own actions</li>
      <li>Physically hurts you in any way</li>
      <li>Pressures or forces you to have sex</li>
      <li>Refuses to let you to end the relationship</li>
    </ul>
    </ion-list>
  </div>
  <div *ngIf="subTab==='helpingfriends'">
    <ion-list>
    <h1 style="font-size: 18px;">How to help a Friend</h1>
    <ol>
      <li>Start the Conversation- Without blaming, point out the behaviors you have noticed and ask them how they feel about it.</li>
      <li>Be Supportive- Remember your friend may not recognize the abuse or want to end the relationship. Don't judge them.</li>
      <li>Things to Say- If your friend does confide in you, you can say things like:</li>
          <ul>
        <li>It's not your fault.</li>
        <li>You do not deserve that- you deserve to be treated with respect.</li>
        <li>What do you need?</li>
        <li>I'm glad you told me.</li>
            </ul>
      <li>Connect them to resources- Web sites, text lines, and phone numbers are on the Getting Help page</li>
      <li>When in Need Get Support- If you feel that your friend is in immediate danger or that their life is at risk or has been threatened, get emergency support by calling 911. Talk to a teacher, counselor, parent, or any trusted adult if there is no imediate danger present. </li>
      </ol>
    </ion-list>
    </div>
  <div *ngIf="subTab==='breakingup'"> 
    <ion-list>
    <h1 style="font-size: 18px">Tips for breaking up safely</h1>
    <ul>
    <li>If you don't feel safe, don't break up in person. It may seem cruel to break up over the phone or by text but it may be the safest way.</li>
    <li>If you break up in person, so it in a public place. Have a friend or a parent wait nearby. Have your cell phone with you.</li>
    <li>Don't try to explain your reasons for ending the relationship more than once. There is nothing you can say that will make your ex-partner happy.</li>
    <li>Let your friends and parents know you are ending your relationship, especially if you think your ex-partner will come to your house or confront you when you're alone.</li>
    <li>If your ex-partner does come to your house when you're alone, don't go to the door.</li>
    <li>Trust yourself. If you feel afraid, you probably have a good reason.</li>
    <li>Ask for help. Go to www.loveisrespect.org and chat with a trained peer advocate who is able to answer your questions. Talk to any trusted adult or call MAAV at 781-662-2010. </li>
    <li>Just because an nnhealthy or abusive relationship is over, that doesn't mean the risk or violence is too. Talk with your friends, family, and trusted adult at school so they can support you.</li>
      </ul>
  </ion-list>
  </div>
</ion-content>
