<ion-header  style="border-radius: blue;">
  <ion-toolbar  >
    
      <ion-title text-align="center" style="font-style: strong; font-size: 20px;">MAAV</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="round">
  
  <ion-card class="bordercolor">
    <ion-card-title align="center" class="headerfont">Melrose Alliance Against Violence</ion-card-title>
    <img src="assets/images/maav/red-flags.png" />
    <p>
      The Melrose Alliance Against Violence (MAAV for short) is a
      community-based agency committed to ending domestic violence. We believe
      that no one deserves to be abused or to live in fear. We work to end
      domestic violence and promote healthy relationships by increasing
      community awareness, educating young people in the schools, training
      teachers, coaches and parents, and helping victims of domestic violence,
      teen dating violence and bullying. Our goal is to stop violence in
      relationships before it starts.
    </p>
  </ion-card>
  <ion-card class="bordercolor">
    <img src="assets/images/maav/studentactionboard.jpg" />
    <ion-card-title align="center">Student Action Board</ion-card-title>
    <p>
      The Student Action Board (SAB) is a dynamic group of 20 peer leaders at
      Melrose High School who work in the schools and community to promote
      respect and prevent abuse in relationships. Students can apply to the SAB
      at the end of 9th grade. The SAB educates their peers on topics like the
      warning signs of abuse, consent in relationships and how to help a friend.
      They are involved in poster campaigns to raise awareness and promote
      bystander action, MAAV’s Annual Walk, and a program called “Escalation”
      for the senior class, among other things!
    </p>
  </ion-card>
  <ion-card class="bordercolor">
    <img src="assets/images/maav/walkwithkids.png" />
    <ion-card-title align="center">Annual Walk & Candlelight Vigil</ion-card-title>
    <p>
      Each October, MAAV sponsors an Annual Walk & Candlelight Vigil, “bringing
      to light” the problem of domestic violence, commemorating the lives of
      victims and survivors of domestic violence from the previous year, and
      uniting the community in taking a stand against violence. The Walk is
      MAAV’s signature event and involves over 900 people of all ages.
    </p>
  </ion-card>
  <ion-card class="bordercolor">
    <img src="assets/images/maav/coffeehouse.jpg" />
    <ion-card-title align="center">MAAV Community Coffeehouse</ion-card-title>
    <p>
      2014 marked the inception of the Community Coffeehouse, Voices Against
      Violence. The vision came from two high school students who wanted to use
      the power of music and the arts to spread the message of healthy
      relationships and create discussion about teen dating violence. Featuring
      teens and adult performers, the popular Community Coffee House has become
      an annual event that combines the talents of the people of Melrose to
      spread an important message.
    </p>
  </ion-card>
  <ion-card class="bordercolor">
    <img src="assets/images/maav/whiteribbon.jpg" />
    <ion-card-title align="center">
      White Ribbon Day
    </ion-card-title>
    <p>
      White Ribbon Day started in Canada in response to the massacre of 14 women
      by a man at a technical college. Today, the International White Ribbon
      Campaign has spread to over 60 countries. The purpose of the campaign is
      for men to take a stand against gender-based violence, and to promote
      healthy masculinity and respect in relationships. In Melrose, we hold a
      ceremony in the community, an assembly at Melrose High School, and raise
      the White Ribbon Day flag as we promise to part of the solution in
      building a safe community where everyone thrives and can be their whole
      selves.
    </p>
  </ion-card>
  <ion-card class="bordercolor">
    <img src="assets/images/maav/race.png" />
    <ion-card-title align="center">Melrose Run for Women</ion-card-title>
    <p>
      Every year on Mother’s Day, the Melrose Running Club sponsors the Melrose
      Run for Women and donates the proceeds to MAAV. This 5K race starts and
      ends at Pine Banks Park in Melrose, and attracts women, teens and children
      of all ages. The event also includes prizes, fun activities for kids,
      refreshments and music, and is a great Mother’s Day tradition for many
      families.
    </p>
  </ion-card>
</ion-content>
