<ion-header translucent>
  <ion-toolbar>
    
    <ion-title class="fontsize" text-align="center">MAAV</ion-title>
   
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen class="round">
  <h1 align="center" class="headerfont">Melrose Alliance Against Violence</h1>
  <ion-card class="bordercolor">
    <img src="assets/images/red-flags.png">
    <p>
    Formed in 1995, the Melrose Alliance Against Violence (MAAV) is a nonprofit
    community-based organization that focuses on outreach, education and
    community collaboration in order to raise awareness of the problems of
    bullying, teen dating and domestic violence. 
  
    Working closely with the
    Melrose Police Department and Melrose Public Schools, our Board of Directors
    includes representatives from the city, police, schools, clergy, hospital,
    business community, Health Department, students, parents and community
    members at large.
    </p>
  </ion-card>
  <ion-card class="bordercard2">
    <img src="assets/images/action.png">
    <ion-card-title align="center">Student Action Board</ion-card-title>
    <p>
    The Student Advisory Board (SAB) was established at Melrose High School in 1998. The original purpose of the SAB was for
    students to give input into MAAV’s prevention programs. In 2003, the name was changed to the Student Action Board to
    better reflect the dynamic nature of the group. The SAB still advises the MAAV Board, but also plans and implements its
    own projects in the schools and community. Luckily, it can still be referred to as the SAB!
    In 2015, the SAB launched a new club open to all Melrose High School called “Students Against Violence.” The club
    discussed issues related to healthy and abusive teen relationships, and worked on projects to educate their peers, such
    as poster campaigns and Public Service Announcements.
    </p>
  </ion-card>
  <ion-card class="bordercard3">
    <img src="assets/images/DSC_0749walk.png">
    <ion-card-title align="center">Annual Walk & Candlelight Vigil</ion-card-title>
    <p>
    Each October, MAAV sponsors an Annual Walk & Candlelight Vigil, “bringing to light” the problem of domestic violence,
    commemorating the lives of victims and survivors of domestic violence from the previous year, and uniting citizens in
    taking a stand against violence in our community. The Walk is MAAV’s signature event and involves over 500 people of all
    ages.
    </p>
  </ion-card>
  <ion-card class="bordercard4">
    <img src="assets/images/coffeehouse.png">
    <ion-card-title align="center">MAAV Community Coffeehouse</ion-card-title>
    <p>
    2014 marked the inception of the Community Coffeehouse, Voices Against Violence. The vision came from two high school
    students who wanted to use the power of music and the arts to spread the message of healthy relationships and create
    discussion about teen dating violence. Featuring teens and adult performers, the popular Community Coffee House has
    become an annual event that combines the talents of the people of Melrose to spread an important message.
    </p>
  </ion-card>
  <ion-card class="bordercard5">
    <img src="assets/images/mission-chart.png">
    <ion-card-title align="center">
      Safe Steps for Melrose
    </ion-card-title>
    <p>
    In 2011, the Melrose Public Schools, in partnership with MAAV, was awarded the S.T.E.P. Grant (Services, Training,
    Education & Policy to Reduce Teen Dating Abuse) through the US Department of Justice, Office on Violence Against Women
    (OVW). This 3-year grant project, Safe Steps for Teens, enabled us to develop policy, train staff, conduct awareness
    campaigns, create services for victims, and implement prevention programs with students, staff, parents and coaches at
    the secondary level.
    </p>
  </ion-card>
  <ion-card class="bordercard6">
    <img src="assets/images/race.png">
      <ion-card-title align="center">Melrose Run for Women</ion-card-title>
      <p>
      he Melrose Running Club has partnered with Melrose Alliance Against Violence since 1998 to sponsor the Melrose Run for
      Women annually on Mother’s Day. A portion of the race’s entry fee is donated to MAAV, amounting to over $215,000 total
      since 1998. The event includes a series of kids’ races as well as the main event – a 3.5 mile run, with awards given to
      the top mother and grandmother finishing, as well as the top mother-daughter team. The event also features fun
      activities for kids, baked goods and refreshments, and music, and stands as a celebration for women of all ages.
      </p>
  </ion-card>
</ion-content>
