<ion-header translucent>
  <ion-toolbar class="yellowback">
    <ion-title text-align="center">Get Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding yellowback">
  <ion-list>
    <ion-list-header>Emergency</ion-list-header>
    <ion-item href="tel:911">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Emergency 911</ion-label>
    </ion-item>
    <ion-item href="tel:781-979-4473">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Melrose Police</ion-label>
    </ion-item>
   
  </ion-list>

  <ion-list>
    <ion-list-header>Help Lines</ion-list-header>
    <ion-item href="tel:781-662-2010">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>MAAV</ion-label>
    </ion-item>
    <ion-item href="https://www.maav.org/contact/">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>MAAV Website</ion-label>
    </ion-item>
    <ion-item href="tel:866-331-9474">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Dating Abuse</ion-label>
    </ion-item>
    <ion-item href="tel:866-331-9474">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Teen Dating Abuse (TTY)</ion-label>
    </ion-item>
    
    <ion-item href="tel:800-799-7233">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>National Domestic Violence Hotline</ion-label>
    </ion-item>
    
    
    <ion-item href="tel:800-841-8371">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Boston Area Rape Crisis</ion-label>
    </ion-item>
    <ion-item href="tel:800-792-5200">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Child Abuse Hotline</ion-label>
    </ion-item>
    
    <ion-item href="tel:800-399-7337">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Gay and Lesbian Youth Peer Listening</ion-label>
    </ion-item>
    
    <ion-item href="tel:877-870-4673">
      <ion-icon slot="end" name="call-outline"></ion-icon>
      <ion-label>Suicide-SamariTeens</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Websites</ion-list-header>
    <ion-item href="https://www.loveisrespect.org/">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>Love is Respect</ion-label>
    </ion-item>
    <ion-item href="https://www.breakthecycle.org">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>Break the Cycle</ion-label>
    </ion-item>
    <ion-item href="https://www.nagly.org">
      <ion-icon slot="end" name="link-outline"></ion-icon>
      <ion-label>North Shore Alliance for LGBTQ Youth</ion-label>
    </ion-item>
    
  </ion-list>
  <!--
 
  
  
  
  
  
  
  
  
  
  
  
  

  <ion-label>Websites</ion-label>
  <a href="https://www.loveisrespect.org/">www.loveisrespect.org</a>
  <br />
  <a href="http://www.chooserespect.org">www.chooserespect.org</a>
  <br />
  <a href="http://www.thesafespace.org/">www.thesafespace.org</a>
  -->
</ion-content>
